/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/styles/Home.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.Home_main__EtNt2 {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.Home_footer__7dKhS {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.Home_image__PsW3M {
  width: 70%;
  height: 50%;
  margin-left: 20%;
}

.Home_title__FX7xZ {
  font-size: 2rem;
  margin: 2rem 0;
}

.Home_description__Qwq1f {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.2rem;
}

.Home_button__69vwW {
  border-radius: 4px;
  background-color: blue;
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin-bottom: 2%;
}

@media (max-width: 1000px) {
  .Home_main__EtNt2 {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
